@font-face {
  font-family: 'Inter';
  src: url('./styles/fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./styles/fonts/Inter-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('./styles/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('./styles/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

:root {
  line-height: 1.2;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Inter';
  font-size: 16px;
}

:root[data-text-size='extra-small'] {
  font-size: 16px;
}

:root[data-text-size='small'] {
  font-size: 17.92px;
}

:root[data-text-size='medium'] {
  font-size: 19.84px;
}

:root[data-text-size='large'] {
  font-size: 22.08px;
}

:root[data-text-size='extra-large'] {
  font-size: 24.96px;
}

:root[data-text-size='huge'] {
  font-size: 27.96px;
}
